fastapi==0.109.1
pydantic==2.5.3
python-dotenv==1.0.1
uvicorn[standard]==0.27.0
gunicorn==19.10.0
PyMySQL==1.0.3
sqlalchemy==2.0.20
fastapi-limiter==0.1.6
psycopg2-binary==2.9.1
beautifulsoup4==4.12.3